@using Instruments.Domain.Entities

@if (Instrument != null)
{
    <div class="card mt-5" style="width: 18rem;">
        <img src="@Instrument.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Instrument.Name</h5>
            <p class="card-text">@Instrument.Description</p>
            <h4 class="badge bg-info">@Instrument.Price руб.</h4>
        </div>
    </div>
}
@code {
    [Parameter]
    public Instrument Instrument { get; set; }
    [Parameter]
    public EventCallback<Instrument> InstrumentsChanged { get; set; }
}
